$radialCol1: rgb(0, 93, 199);
$radialCol2: rgb(0, 44, 146);
$green: rgb(0, 128, 0);
$red: rgb(221, 0, 0);
$gray: rgb(94, 94, 94);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.App {
  width: 100vw;
  height: 100vh;
  background: radial-gradient($radialCol1, $radialCol2);
  display: flex;
  justify-content: center;
  align-items: center;
  .AppParent {
    width: 700px;
    height: 600px;
    background-color: white;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    .Header {
      display: flex;
      justify-content: space-between;
      padding: 0px 10px;
      height: 50px;
      width: 100%;
      align-items: center;
      img {
        height: 80%;
      }
    }
  }
}

button {
  height: 40px;
  width: fit-content;
  padding: 0px 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  transition: ease-in-out 0.3s;
  &:hover {
    transform: scale(105%);
  }
}

button.addItem {
  background-color: $green;
}
button.deleteItem {
  background-color: $red;
}
button.editItem {
  background-color: $gray;
}

.list {
  overflow-y: scroll;
  width: 100%;
  height: max-content;
  border-radius: 10px;
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 10px;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: rgba(220, 220, 220, 0.8);
    .title {
      font-weight: 600;
      font-size: 20px;
    }
    p:not(.title) {
      font-size: 14px;
      color: rgb(120, 120, 120);
    }
    >.buttons {
      width: 170px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 15px;
  }
}

.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 52002;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  .window {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    transition: 0.2s;
  }
}